html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow: hidden;
}

button {
    border: none;
    background: none;
}

button:active {
    transform: translateY(1px);
    /* Зсув кнопки вниз на 2px при натисканні */
    box-shadow: none;
    /* Відключення тіні під кнопкою при натисканні (необов'язково) */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url(/img/fon.jpg);
    max-width: 600px;
    min-height: 100%;
    width: 100%;
}

.header-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-bay {
    border: none;
    background: none;
    display: flex;
    align-items: center;
}

.icon_ton {
    width: 40px;
    height: 40px;
}

.energi {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 8px;
}

.icon-energy {
    width: 50px;
    height: 50px;
    justify-content: center;
}

.energy-scale {
    width: 75px;
    height: 20px;
    background-color: #04325ea8;
    border-radius: 10px;
    overflow: hidden;
}

.energy-level {
    background-color: #ffcc00;
    border-radius: 10px;
}


/*footer*/

.footer {
    display: flex;
    justify-content: center;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 70px;
    width: 280px;
}

.icon-shop {
    width: 70px;
    height: 70px;
}

.icon-home {
    width: 80px;
    height: 80px;
}

.icon-info {
    width: 68px;
    height: 68px;
}


/*animacia
/* Стилі кнопки */

.animatedButton {
    background-color: #db5e34;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease;
    /* Анімація при наведенні */
}


/* Стилі кнопки натискання */

.animatedButton:active {
    transform: translateY(3px);
    /* Зсув кнопки вниз на 2px при натисканні */
    box-shadow: none;
    /* Відключення тіні під кнопкою при натисканні (необов'язково) */
}


/* Анімація кнопки */

.animatedButton.clicked {
    animation: buttonClick 2s ease;
    /* Виклик анімації при кліку */
}


/* Ключова фреймова анімація для кнопки */

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/* Ваші стилі тут */

.modalReceiv {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    max-width: 600px;
    min-height: 100%;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content-receiv {
    margin: 15% auto;
    padding: 20px;
    background-image: url("/img/icon-receive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #888;
    width: 75%;
    height: 50%;
    border-radius: 20px;
}

.close-Receiv {
    color: #aaa;
    float: left;
    font-size: 50px;
    font-weight: bold;
}

.close-Receiv:hover,
.close-Receiv:focus {
    color: black;
    text-decoration: none;
}

.back-button-container {
    position: fixed;
    top: 10px;
    left: 10px;
}

.back-button {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s;
    outline: none;
}

.back-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.back-button:active {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    /* Наприклад, максимальна ширина */
    margin: auto;
    margin-top: 60px;
    /* Add this line */
}

.input-label {
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: "Pacifico", cursive;
}

.input-frame {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 40px;
    background-color: #db5e3400;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0);
    /* Робимо бордер невидимим */
    border-radius: 4px;
    box-sizing: border-box;
}


/* Стиль поля вводу при фокусі */

.input-field:focus {
    outline: none;
    /* Забираємо стандартний фокусний обведення */
    border-color: transparent;
    /* Робимо бордер невидимим при фокусі */
}

.button-frame {
    font-family: "Pacifico", cursive;
    width: 100%;
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #4c5baf00;
    color: white;
    font-size: 18px;
    border: 1px solid;
    border-color: white;
    cursor: pointer;
    transition: transform 0.2s;
    outline: none;
    margin-top: 10px;
}

.button-frame:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button-frame:active {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


/* Додаткові стилі для медіа-запитів (при необхідності) */

@media screen and (max-width: 600px) {
    .input-container {
        max-width: 300px;
        /* Зменшуємо максимальну ширину на маленьких екранах */
    }
}