body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow: hidden;
}

.transfer {
    background-color: rgba(65, 151, 172, 0.678);
    border: none;
    color: rgb(43, 221, 247);
    padding: 50px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    font-family: "Pacifico", cursive;
    border-radius: 80px;
}

.header-box-transfer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    margin: 0px;
    position: absolute;
    padding: 0px;
    top: 12%;
}

.centered-button2 {
    background-color: rgba(65, 151, 172, 0.678);
    border-radius: 35px;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: "Pacifico", cursive;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-left: 13%;
}

.centered-button2:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button-container {
    position: relative;
    justify-self: center;
    /* Позиціонування контейнера */
}

.transfer-p-box {
    padding: 20px 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.centered-button {
    background-color: rgba(65, 151, 172, 0.678);
    border-radius: 35px;
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: "Pacifico", cursive;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.2s;
}

.centered-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.animatedButton:active {
    transform: translateY(3px);
    /* Зсув кнопки вниз на 2px при натисканні */
    box-shadow: none;
    /* Відключення тіні під кнопкою при натисканні (необов'язково) */
}


/* Анімація кнопки */

.animatedButton.clicked {
    animation: buttonClick 2s ease;
    /* Виклик анімації при кліку */
}


/* Ключова фреймова анімація для кнопки */

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/* Ваші стилі тут */

.modalTransfer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    max-width: 600px;
    min-height: 100%;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-content-Transfer {
    margin: 15% auto;
    padding: 20px;
    background-image: url("/img/icon-transfer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #888;
    width: 75%;
    height: 80%;
    border-radius: 20px;
}

.close-Transfer {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close-Transfer:hover,
.close-Transfer:focus {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 370px) {
    .modal-content-Transfer {
        height: 50%;
    }
    .transfer-p-box {
        padding: 5px;
        /* Зменшує відступи для маленьких екранів */
    }
    .transfer {
        font-size: 24px;
        padding: 30px 50px;
        /* Ще більше зменшує розмір шрифту для маленьких екранів */
    }
    .centered-button {
        font-size: 18px;
        padding: 10px 18px;
    }
    .centered-button2 {
        font-size: 18px;
        padding: 10px 18px;
    }
}